/*  your css code here. If applicable */
#line{
    background-color: black;
    width: 200px;
    height: 2px;
    animation-name: myrotation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: 100px;
    margin-right: 100px;
}
@keyframes myrotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}